<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	ch3bP6XbGt3xkqRhSHeTF9EqCl/Hp8Trty3UJ8EriDJJwPlm+6A5HcWsyXbs2AnhFiWU
	UuCx2vwv5OauRQc16WIbcU0Fxak9pSLlEt1ewF0NGOR6wc04KyAa80KipbrWnggS5QIZ
	b3TQw7yusNN1r47hMkxHqz0TfCFX7TbOXQU=
	</data>
</dict>
</plist>
